@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "宋体";
}

.reminder-left {
  width: 28.9%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #383836;
  left: 0;
}

.reminder-right {
  width: 71.1%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("../images/packed-4.png");
}

.reminder .reminder-left .header {
  height: 45px;
  border-bottom: 1px solid #1a1a1a;
  position: relative;
}

.reminder .reminder-left .header .logo {
  background-image: url("../images/packed-5.png");
  background-position: 0px -588px;
  background-repeat: no-repeat;
  position: absolute;
  width: 56px;
  height: 16px;
  top: 14px;
  left: 12px;
}

.reminder .reminder-left .header .title {
  position: absolute;
  top: 0;
  line-height: 44px;
  left: 74px;
  color: #999;
  cursor: default;
  font-size: 21px;
  font-family: "宋体";
}

.reminder .reminder-left .header .title:hover {
  color: #ccc;
}

.reminder .reminder-left .header .plus {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
}

.reminder .reminder-left .header .plus .plus-icon {
  width: 23px;
  height: 23px;
  background-image: url(../images/packed-5.png);
  background-position: -23px -526px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.reminder .reminder-left .content {
  position: relative;
  width: 100%;
}

.reminder .reminder-left .content .head {
  color: white;
  height: 44px;
  line-height: 44px;
  padding-left: 54px;
  position: relative;
  font-size: 17px;
  width: 100%;
  box-sizing: border-box;
  font-family: "宋体";
}

.reminder .reminder-left .content .head .clock {
  position: absolute;
  left: 10px;
  top: 2px;
  width: 40px;
  height: 40px;
  background: url("../images/packed-5.png") 0 -359px no-repeat;
}

.reminder .reminder-left .content .head .line {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: url("../images/packed-1.png");
}

.reminder .reminder-left .content .content-list {
  width: 100%;
}

.reminder .reminder-left .content .content-list li.active {
  background: #2d2d2b;
}

.reminder .reminder-left .content .content-list li.active .line {
  display: none;
}

.reminder .reminder-left .content .content-list li {
  width: 100%;
  height: 44px;
  padding-left: 54px;
  position: relative;
  line-height: 44px;
  box-sizing: border-box;
  cursor: pointer;
}

.reminder .reminder-left .content .content-list li span {
  width: 17px;
  height: 17px;
  background: url("../images/packed-5.png") -102px -571px;
  position: absolute;
  top: 15px;
  left: 22px;
}

.reminder .reminder-left .content .content-list li span.orange {
  background-position: -51px -571px;
}

.reminder .reminder-left .content .content-list li span.purple {
  background-position: -17px -571px;
}

.reminder .reminder-left .content .content-list li span.brown {
  background-position: -133px -549px;
}

.reminder .reminder-left .content .content-list li span.red {
  background-position: -102px -571px;
}

.reminder .reminder-left .content .content-list li span.green {
  background-position: -85px -571px;
}

.reminder .reminder-left .content .content-list li span.yellow {
  background-position: -34px -571px;
}

.reminder .reminder-left .content .content-list li span.blue {
  background-position: -68px -571px;
}

.reminder .reminder-left .content .content-list li input {
  display: inline;
  border: none;
  width: auto;
  color: white;
  outline: none;
  font-size: 17px;
  background: transparent;
}

.reminder .reminder-left .content .content-list li .line {
  position: absolute;
  width: 85%;
  height: 2px;
  bottom: -2px;
  right: 0;
  background: url("../images/packed-1.png");
}

.reminder .reminder-right .header {
  width: 100%;
  height: 46px;
  line-height: 46px;
  padding-left: 45px;
  box-sizing: border-box;
  color: #bbb;
  font-size: 18px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
}

.reminder .reminder-right .header .magnifier {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 11px;
  left: 15px;
  background: url("../images/packed-5.png") -138px -359px;
}

.reminder .reminder-right .content.orange {
  color: #ff7f00;
}

.reminder .reminder-right .content.purple {
  color: #b14bc9;
}

.reminder .reminder-right .content.brown {
  color: #a2845e;
}

.reminder .reminder-right .content.red {
  color: #ff2968;
}

.reminder .reminder-right .content.green {
  color: #49bf1f;
}

.reminder .reminder-right .content.yellow {
  color: #e0ac00;
}

.reminder .reminder-right .content.blue {
  color: #1badf8;
}

.reminder .reminder-right .content {
  width: 100%;
  position: relative;
  top: 25px;
  left: 0;
  font-family: "宋体";
}

.reminder .reminder-right .content .line1 {
  position: absolute;
  right: 0px;
  bottom: -2px;
  width: 98%;
  height: 2px;
  background: url("../images/packed-3.png");
}

.reminder .reminder-right .content .head {
  width: 100%;
  font-size: 40px;
  line-height: 1.2;
  position: relative;
  margin-bottom: 10px;
  height: 48px;
  padding-left: 28px;
  box-sizing: border-box;
}

.reminder .reminder-right .content .head .line {
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 98%;
  height: 2px;
  background: url("../images/packed-3.png");
}

.reminder .reminder-right .content .head .opation {
  position: absolute;
  right: 20px;
  top: 19px;
  font-size: 19px;
  cursor: pointer;
}

.reminder .reminder-right .content .head .color-opations.show {
  display: block;
}

.reminder .reminder-right .content .head .color-opations {
  display: none;
  width: 355px;
  height: 226px;
  position: absolute;
  right: 55px;
  top: -45px;
  z-index: 10;
  background: white;
}

.reminder .reminder-right .content .head .color-opations::before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: 0;
  padding: 4px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.reminder .reminder-right .content .head .color-opations .container {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 11px 0 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reminder .reminder-right .content .head .color-opations .container input {
  width: 314px;
  height: 42px;
  font-size: 25px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 13px;
  color: inherit;
}

.reminder .reminder-right .content .head .color-opations .container p {
  color: #000;
  line-height: 55px;
  padding-left: 3px;
  font-size: 18px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs {
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li:nth-child(1) {
  margin: 0px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  float: left;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.red {
  background: url("../images/stylesheet-1.png") 0px -356px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.orange {
  background: url("../images/stylesheet-1.png") 0px -381px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.blue {
  background: url("../images/stylesheet-1.png") 0px -281px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.purple {
  background: url("../images/stylesheet-1.png") 0px -231px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.yellow {
  background: url("../images/stylesheet-1.png") 0px -306px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.brown {
  background: url("../images/stylesheet-1.png") 0px -331px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span.green {
  background: url("../images/stylesheet-1.png") 0px -256px;
}

.reminder .reminder-right .content .head .color-opations .container .color-imgs li span {
  display: block;
  width: 25px;
  height: 25px;
  margin: 4px 0px 0 4px;
}
.circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.reminder .reminder-right .content .head .color-opations .container .color-imgs::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.reminder .reminder-right .content .head .color-opations .container .delete {
  position: absolute;
  font-size: 18px;
  color: red;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.reminder .reminder-right .content .head .color-opations .container .quxiao {
  position: absolute;
  font-size: 18px;
  color: blue;
  bottom: 20px;
  left: 65%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.reminder .reminder-right .content .head .color-opations .container .over {
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  color: blue;
  font-weight: bolder;
  bottom: 20px;
  right: 10px;
}

.reminder .reminder-right .content .end.show .threeangle {
  background: url("../images/packed-5.png") -69px -526px;
}

.reminder .reminder-right .content .end.show + .finish-opation {
  height: auto;
  opacity: 1;
}

.reminder .reminder-right .content .end {
  padding-left: 58px;
  height: 52px;
  line-height: 52px;
  color: #aaa;
  font-size: 19px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.reminder .reminder-right .content .end .threeangle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 13px;
  left: 25px;
  background: url("../images/packed-5.png") -92px -526px;
}

.reminder .reminder-right .content .finish-opation {
  height: 0;
  opacity: 0;
}

.reminder .reminder-right .content .finish-opation li {
  position: relative;
  height: 52px;
  line-height: 52px;
  color: #333;
  font-size: 19px;
  padding-left: 58px;
  box-sizing: border-box;
}

.reminder .reminder-right .content .finish-opation li .direct.orange {
  background: url("../images/packed-5.png") -96px -465px;
}

.reminder .reminder-right .content .finish-opation li .direct.purple {
  background: url("../images/packed-5.png") 0 -465px;
}

.reminder .reminder-right .content .finish-opation li .direct.brown {
  background: url("../images/packed-5.png") -32px -433px;
}

.reminder .reminder-right .content .finish-opation li .direct.red {
  background: url("../images/packed-5.png") -64px -401px;
}

.reminder .reminder-right .content .finish-opation li .direct.green {
  background: url("../images/packed-5.png") -32px -401px;
}

.reminder .reminder-right .content .finish-opation li .direct.yellow {
  background: url("../images/packed-5.png") -136px -199px;
}

.reminder .reminder-right .content .finish-opation li .direct.blue {
  background: url("../images/packed-5.png") -74px -359px;
}

.reminder .reminder-right .content .finish-opation li .direct {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 21px;
}

.reminder .reminder-right .content .finish-opation li input {
  color: #000;
  font-family: "微软雅黑";
  outline: none;
  display: inline;
  margin-left: 23px;
  height: 44px;
  border: none;
  background: none;
  font-size: 18px;
}

.reminder .reminder-right .content .unfinish-opation li {
  position: relative;
  height: 52px;
  line-height: 52px;
  color: #333;
  font-size: 19px;
  padding-left: 58px;
  box-sizing: border-box;
}

.reminder .reminder-right .content .unfinish-opation li .direct.orange {
  background: url("../images/packed-5.png") 0 -433px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.purple {
  background: url("../images/packed-5.png") -64px -465px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.brown {
  background: url("../images/packed-5.png") -96px -433px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.red {
  background: url("../images/packed-5.png") -128px -401px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.green {
  background: url("../images/packed-5.png") -42px -359px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.yellow {
  background: url("../images/packed-5.png") -136px -267px;
}

.reminder .reminder-right .content .unfinish-opation li .direct.blue {
  background: url("../images/packed-5.png") -136px -167px;
}

.reminder .reminder-right .content .unfinish-opation li .direct {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 21px;
}

.reminder .reminder-right .content .unfinish-opation li input {
  outline: none;
  font-family: "微软雅黑";
  display: inline;
  margin-left: 23px;
  height: 44px;
  border: none;
  background: none;
  font-size: 18px;
  color: #000;
}

.reminder .reminder-right .content .newadd {
  position: relative;
  height: 52px;
  line-height: 52px;
  font-size: 19px;
  padding-left: 58px;
  box-sizing: border-box;
  color: #aaa;
}
 .active66{
  border: 1px solid #000;
  opacity: 0.8;
  box-sizing:border-box;
}

